.header{
    //!header-top
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;

    
        &-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        &-item{
            margin-right: 33px;
            &:last-child{
                margin-right: 0;
            }
        }

        &-link{
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
            font-size: 12px;
            text-decoration: none;
            color: $accent;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }

    //!Почта и телефон в шапке
    &__mail,
    &__phone{
        color: $dark;
    }

    //!header-middle
    &__middle{
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 40px;
    }
    &__button{
        background-color: transparent;
        border: none;
        position: relative;
    }
    &__action-source{
        width: 24px;
        height: 24px;
    }

    //!Счетчик товаров
    .cart-counter{
        background-color: $secondary-accent;
        color: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content:center;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        font-size: 12px;

        position: absolute;
        left: -2px;
        bottom: -2px;
    }

    //!Поиск
    &__search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        padding: 5px 15px;
        border-radius: 12px;
        border-width: 1px;
        border-style: solid;
        border-color: lighten($dark, 75%);
    }
    .input__search{
        width: 100%;
        height: 20px;
        padding-right: 30px;
        border: none;
        font-size: 14px;

        &::placeholder{
            color: lighten($dark, 50%)
        }

    }

    .product{
        &-list{
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 130px;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                display: inline-block;
                background-color: lighten($dark, 75%);
                right: -15px;
                top:0;
                transform: translateY(1px);
            }
        }

        &-item{
            font-size: 15px;
            font-weight: 700;
            color: $dark;
            line-height: 23px;
            position: relative;

            .list-arrow-down{
                 @include dfcc;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;

               
            }
        }


    }


    .search__wrap{
        width: 310px;
        position: relative;
    }
    

    .search-icon{
        position: absolute;
        right: 10px;
        

        &__source{
            height: 12px;
            width: 12px;
        }

    }
    
    //!Header Bottom
    &__bottom{
        background-color: #f9f9f9;
    }
    &__wraper{
        display: flex;
    }

    .category-link ~ .category-sublist{
        display: none;
    }

    .category-link .list-arrow-down{
        width: 12px;
        height: 12px;
        display: inline-block;
    }
}